.waitForConfirm {
  border: 1px solid #0761ad;
  background-color: #999999;
}
.box {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.inProgress {
  background-color: #ffac38;
}
.overdue {
  background-color: #ff5353;
}
.completed {
  background-color: #0fa44a;
}
